replicaCount: 2

image:
  repository: chandru/portfolio-website
  tag: latest
  pullPolicy: IfNotPresent

containerPort: 80

service:
  type: LoadBalancer
  port: 80

ingress:
  enabled: true
  host: portfolio.local

hpa:
  enabled: true
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 60
