replicaCount: 3

image:
  tag: "1.0.0"  # This will be overridden by CI/CD
  pullPolicy: Always

imagePullSecrets:
  - name: acr-secret

service:
  type: ClusterIP  # Use ClusterIP when using Ingress

ingress:
  enabled: true
  className: "nginx"  # Specify your ingress controller
  host: portfolio.example.com
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    nginx.ingress.kubernetes.io/ssl-redirect: "true"
    nginx.ingress.kubernetes.io/force-ssl-redirect: "true"
  tls:
    enabled: true

hpa:
  enabled: true
  minReplicas: 2
  maxReplicas: 6
  targetCPUUtilizationPercentage: 60